@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.woff") format("woff"), url("../fonts/Montserrat-Regular.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Medium.woff") format("woff"), url("../fonts/Montserrat-Medium.woff2") format("woff2");
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-SemiBold.woff") format("woff"), url("../fonts/Montserrat-SemiBold.woff2") format("woff2");
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Bold.woff") format("woff"), url("../fonts/Montserrat-Bold.woff2") format("woff2");
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: "Oswald";
  src: url("../fonts/Oswald-Bold.woff") format("woff"), url("../fonts/Oswald-Bold.woff2") format("woff2");
  font-style: normal;
  font-weight: 700;
}
* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  color: #000;
  min-width: 375px;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

ul, ol {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
  transition: all 0.3s;
}

.container {
  max-width: 1230px;
  padding: 0 10px;
  margin: 0 auto;
  position: relative;
  z-index: 2;
}

.btn {
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  padding: 13px 42px;
  background-color: #961914;
  border-radius: 8px;
  text-align: center;
  transition: all 0.3;
}
.btn:hover {
  background-color: #75110D;
}

.hero__btn {
  min-width: 226px;
}

.hero {
  background-image: url(../images/hero-img.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 100vh;
  position: relative;
  color: #fff;
}
.hero__title-mark {
  position: absolute;
  min-width: 260px;
  max-height: 92px;
  left: 274px;
  top: calc(100% - 515px);
}

a {
  color: #fff;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0;
}
.header__img {
  max-width: 80px;
  max-height: 80px;
}
.header__nav-list {
  display: flex;
}
.header__nav-item {
  padding-right: 53px;
}
.header__nav-item:last-child {
  padding-right: 0px;
}
.header__nav-link {
  position: relative;
}
.header__nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0;
  height: 2px;
  background-color: #961914;
  transition: all 0.3s;
}
.header__nav-link:hover::after {
  width: 100%;
}

.hero__wrap {
  min-height: calc(100vh - 226px);
  display: flex;
  align-items: center;
  padding: 30px 0;
  position: relative;
}

.hero__box {
  max-width: 490px;
}

.hero__title {
  font-family: "Oswald", Arial, Helvetica, sans-serif;
  font-size: 54px;
  line-height: 1.3;
  font-weight: 700;
  margin-bottom: 10px;
}

.hero__info {
  margin-bottom: 25px;
  max-width: 368px;
  font-size: 20px;
}

/*# sourceMappingURL=style.css.map */
